@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@400;700&family=Dancing+Script:wght@400;500;600;700&family=The+Nautigal:wght@400;700&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,500&display=swap');

*{
    margin: 0;
    padding: 0;
    font-weight:400 ;
    font-family: 'Ubuntu', sans-serif;    
}
body{
    background-color: rgb(228, 221, 206);
  
}
.container{
    /* width: 80%; */
    margin-left: 15%;
    margin-right: 15%;
  
}
 .header{
    margin-top: -8%;
    width: 100%;
    padding: 35px 0;
    display: flex;
    align-items: center;
    height: 70vh;
    border: 3px solid #b3a6a6;
    background-color: #0a4343;

    /* margin: auto; */
    justify-content: space-between ;
 }
 .logo{
    width: 130px;
    cursor: pointer;
    color: white;
    margin-left: 10%;

}
.header ul li{
    list-style: none;
    display: inline-block;
    margin: 0 20px;
    position: relative;
   
}

.img1 .desc1 {
    margin: 0 auto;
    text-align: center;
    width: 30%;
    /* padding: 1rem; */
}
.img img{
    width: 900px;
    height: 550px; 
    margin-top: -15%;
 
}

.header ul li a{
    color: white;
    text-decoration: none;
}
.about{
    margin-top: 5%;
}
.about p{  
    font-size: 30px;
    font-weight:600;
    line-height: 60px;
    /* font-weight: bold; */
    text-align: center;
    font-family: 'Amatic SC', cursive;
    
}
.btn h2{
    font-size: 3rem;
}
.btn{
    margin-top: 5%;
    text-align: center;
}
.btn button{
    width: 18%;
    height: 7vh;
    /* border: 2px solid black; */
    margin-top: 6%;
    margin-left: 2%;
    cursor: pointer;
    border-radius: 10px;
    background-color:#F9F2ED;
    color: white;
    padding: 0%; 
    font-size: 1rem;
    font-weight: 500;
}
.btn button:hover{
    transition: 0.5s;
    background-color: #e1c3ae;  
    /* color: whitesmoke; */
}
.couple{
    margin-top: 4%;
    margin-top: 15px;
}
.couple h2{
    margin-top: 50px;
    font-size: 2.5rem;
    text-align: center;
}
.btn button a{
    text-decoration: none;
    color: black;
}  

.sunday h3{
    margin-top: 15%;
    font-size: 2.5rem;
    text-align: center;

}
.l-to-f{
    margin-top: 8%;
    margin-left: 25%;
    width: 50%;
}
.couple-sit{
    width: 100%;
    height: 50vh;
    /* border: 3px solid black; */
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 8%;
    box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
}
.main-container{
    margin-top: 10%;
    width: 100%;

}
.desc1 p{
    /* justify-content: center; */
    align-items: center;
}
.img-container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;

}
.img1{
    width: 30%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 5%;
    box-shadow: rgba(17, 17, 26, 0.1) 0px 4px 16px, rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 56px;
}
.img1 .imga1 img{
    width: 184.78px;
    height: 184.78px ;
    object-fit: cover;
    border-radius: 70%;
}
.img1 .desc1{
    width: 30%;
   
}
.couple-sit img{
    width: 100%;
    height: 100%;
}
.img-width{
    width: 49.5%;
    height: 100%;
 
}
.friends-sit img ,.family-sit img{
    object-fit: cover;

}
.friends-sit,.family-sit{
    width: 100%;
    height: 50vh;
    /* border: 3px solid black; */
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 8%;
    box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;

}
.marqu2 {
    font-size: 150px;
    margin-top: 9%;
}
.dinnerh2{
    font-size: 50px;
    font-weight: 400;
    margin-top: 8%;
    margin-bottom: 8%;
    text-align: center;

}
.drinkh2{
    font-size: 55px;
    font-weight: 400;
    margin-top: 8%;
    margin-bottom: 8%;
    text-align: center;
}

.contact{
    width: 100%;
    background-color: black;
    color: white;
    margin-top: 8%;
    /* margin-bottom: 5%; */
}
.contacth2{
    text-align: center;
    font-size: 50px;
    padding: 4rem 0 0 0;
}
.friends-sit img,.family-sit img{
    width: 100%;
    height: 100%;
}
.contact-margin{
    margin-top: 4%;
}
.couple h2, .friends h2 , .family h2{
    margin-top: 9%;
    font-size: 50px;
    text-align: center;
}
.contact .cnst-1{
    height: 15vh;
    width: 15%;
    transition: 1s;
}
.contact .cnst-2{
    height: 15vh;
    width: 15%;
    border-radius: 100%;
}
.contact .cnst-3{
    height: 15vh;
    width: 15%;
    border-radius: 100%;
}
.contact .cnst-1:hover{
    cursor: pointer;
    border-radius: 100%;
    border-radius: 5px solid black;
}
.margin-top{
    margin-top: 15%;
}
.margin-left{
    margin-left: 1rem;
}

.main-contect{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
  
}
.address-info{
    margin-left: 40px;
}
 .address-info div{
    /* margin-left: -50%; */
    height: 16vh;
    width: 20vw;
    /* border: 2px solid black; */
 }
 .address-info h3{
    font-size: 1.5rem;
    font-weight: bold;
 }
 .address-info p{
    font-size: 1rem;
    font-weight: 500;
 }
 .form{
    margin-left: 5%;
 }
 .form input{
    width: 40%;
    height: 5vh;
    text-decoration: none;
    /* margin-left: 10%; */
 }
 input {
    margin-left: 5%;
    margin-bottom: 2%;
    border-top-style: hidden;
    border-right-style: hidden;
    border-left-style: hidden;
    border-bottom-style: groove;
    background-color: black; 
    color: white; }
  .btn1{
    cursor: pointer;
    width: 25%;
    font-size: 1rem;
    height: 6vh;
    margin-left: 5%;
    background-color: black;
    color: white;
    border: 3px solid white;
  }
  
  .no-outline:focus {
    outline: none;
  }
  .form h3{
    margin-top: 4rem;
    margin-left: 6rem;
  }
  .icon i {
    font-size: 2rem;
  }


@media (max-width:917px)
{
    .half1  .header{
        width: 100%;
    }
    .mt{
        margin-top: 4.5rem;
    }
    .mt-3{
        margin-top: 8rem;
    }
  
    .img img{
        width: 90%;
        height: auto;
    }
    .img-container{
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        align-items: center; 
    }
     .img1 .desc1{
        width: 100%;
     }
     .img1{
        width: 100%;
        height: 100%;
     }
     
     .btn{
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        align-items: center;
        
     }
     .btn button{
        width: 20vh;
     }
     .img .imga1{
        display: flex;
        flex-direction: column;
        justify-content: center;
     }
     .img1 .imga1 img{
        align-items: center;
        width: 100%;
        height: 100%;
     }
     .img-container{
        display: grid;
        grid-template-columns: 1fr 1fr;

    }
    .drinkh2{
        margin-top: 18%;
    }
    .couple h2{
        margin-top: 50%;
    }
    .marqu2{
        margin-top: 30%;
    }
    .drinkh2{
        margin-top: 40%;
    }

}
@media(max-width:875px)
{
    .cnst-4 , .cnst-5, .cnst-6{
        margin-top: 60%;
    }
    .icon{
        margin-top: 10%;
    }
    .img1{
        width: 90%;
        padding: 1rem;
    } 
   
     
   
.main-contect{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
align-items: center;
  
}
.margin-left{
    margin-left: 0px;
}
.icon {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-top: 70%;
}
}